<div
  class="flex w-full h-full rounded-xl border border-gray-600 p-10 bg-gray-900 text-gray-400 items-center"
>
  <div class="w-full">
    <h3 class="text-lg font-semibold leading-tight text-gray-300">IBM Computers,
      Inc.</h3>
    <h6 class="text-sm leading-tight mb-2">
      <span>IBM</span>
      &nbsp;&nbsp;-&nbsp;&nbsp;Feb 23rd 4:00AM PST
    </h6>
    <div class="flex w-full items-end mb-6">
      <span class="block leading-none text-3xl text-gray-800">$100.50</span>
      <span class="block leading-5 text-sm ml-4 text-green-500">▲ 0.110 (4.966%)</span>
    </div>
    <div class="flex w-full text-xs">
      <div class="flex w-5/12">
        <div class="flex-1 pr-3 text-left font-semibold">Open</div>
        <div class="flex-1 px-3 text-right">95.00</div>
      </div>
      <div class="flex w-7/12">
        <div class="flex-1 px-3 text-left font-semibold">Market Cap</div>
        <div class="flex-1 pl-3 text-right">$1.4T</div>
      </div>
    </div>
    <div class="flex w-full text-xs">
      <div class="flex w-5/12">
        <div class="flex-1 pr-3 font-semibold text-left">High</div>
        <div class="flex-1 pr-3 text-right">$105.42</div>
      </div>
      <div class="flex w-7/12">
        <div class="flex-1 px-3 font-semibold text-left">P/E Ratio</div>
        <div class="pl-3 text-right">2.54</div>
      </div>
    </div>
    <div class="flex w-full text-xs">
      <div class="flex w-5/12">
        <div class="flex-1 pr-3 text-left font-semibold">Low</div>
        <div class="px-3 text-right">$101.42</div>
      </div>
      <div class="flex w-7/12">
        <div class="text-left flex-1 font-semibold">Dividend Yield</div>
        <div class="text-right">4.32%</div>
      </div>
    </div>
  </div>
</div>