<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="js/adminJS/revenue-chart.js" type="module"></script>

<div
  class="w-full h-full min-w-full rounded-xl border border-gray-600 min-h-full flex flex-col items-center justify-center"
>
  <div
    class="w-full h-full min-w-full min-h-full rounded-xl bg-gray-900 text-gray-400 p-4 rounded-lg shadow-lg"
  >
    <h2 class="text-xl font-bold mb-4">Revenue</h2>
    <canvas id="myChart"></canvas>
  </div>
</div>