<div
  class="w-full h-auto relative overflow-x-auto shadow-md rounded-xl bg-gray-50 dark:bg-gray-800"
>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
      <tr>
        <th
          scope="col"
          class="px-6 py-3 bg-gray-50 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700"
        >
          Color
        </th>
        <th
          scope="col"
          class="px-6 py-3 bg-gray-50 dark:bg-gray-700 border-b-2 border-gray-800"
        >
          Product name
        </th>
        <th
          scope="col"
          class="px-6 py-3 bg-gray-50 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700"
        >
          Category
        </th>

      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200 dark:border-gray-700">
        <td class="px-6 py-4">
          Silver
        </td>
        <td
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-700 border-b-2 border-gray-800"
        >
          Apple MacBook Pro 17"
        </td>
        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
          Laptop
        </td>

      </tr>
      <tr class="border-b border-gray-200 dark:border-gray-700">
        <td class="px-6 py-4">
          White
        </td>
        <td
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-700 border-b-2 border-gray-800"
        >
          Microsoft Surface Pro
        </td>
        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
          Laptop PC
        </td>

      </tr>
      <tr class="border-b border-gray-200 dark:border-gray-700">
        <td class="px-6 py-4">
          Black
        </td>
        <td
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-700 border-b-2 border-gray-800"
        >
          Magic Mouse 2
        </td>
        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
          Accessories
        </td>

      </tr>
      <tr class="border-b border-gray-200 dark:border-gray-700">
        <td class="px-6 py-4">
          Gray
        </td>
        <td
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-700 border-b-2 border-gray-800"
        >
          Google Pixel Phone
        </td>
        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
          Phone
        </td>

      </tr>
      <tr>
        <td class="px-6 py-4">
          Red
        </td>
        <td
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-700 border-b-2 border-gray-800"
        >
          Apple Watch 5
        </td>
        <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
          Wearables
        </td>

      </tr>
    </tbody>
  </table>
</div>