<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/x-icon' href='assets/favicon.ico' />

    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
      crossorigin='anonymous'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Courgette&family=Gloria+Hallelujah&family=Libre+Baskerville:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap'
      rel='stylesheet'
    />

    <link rel='stylesheet' type='text/css' href='style/style.css' />
    <script src='js/app.js' type='text/javascript' defer></script>

    <title>Business Company</title>
  </head>
  <body>
    <div class='bg-dark fixed-top'>
      <div class='container'>
        <nav
          class='navbar navbar-expand-sm navbar-fixed-top navbar-dark d-flex justify-content-between'
        >
          <a class='navbar-brand' href='/'>
            <!-- <img src="bootstrap-logo.svg" alt="Bootstrap" width="30" height="24" class="d-inline-block align-top"> -->
            <h4 class='p-0 m-0 text-center'>Academic Writing</h4>
          </a>
          <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#toggleMobileMenu'
            aria-controls='toggleMobileMenu'
            aria-expanded='false'
            aria-label='Toggle navigation'
          >
            <span class='navbar-toggler-icon'></span>
          </button>
          <div class='collapse navbar-collapse' id='toggleMobileMenu'>
            <ul class='navbar-nav ms-auto text-center font-12'>
              {{#if role.customer}}
                <li>
                  <a class='nav-link' href='/customer-home'>Home</a>
                </li>
              {{/if}}
              {{#if role.admin}}
                <li>
                  <a class='nav-link' href='/admin-home'>Home</a>
                </li>
              {{/if}}
              <li>
                <a class='nav-link' href='/pricing'>Pricing</a>
              </li>
              <li>
                <a class='nav-link' href='/about'>About</a>
              </li>
              {{#if authorised}}
                {{! <li>
                    <a
                      class='nav-link d-flex align-items-center gap-1 border-light rounded margin-left-05'
                      href='/customer-home'
                    ><span class='d-flex align-items-center'><svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='16'
                          height='16'
                          fill='currentColor'
                          class='bi bi-person'
                          viewBox='0 0 16 16'
                        >
                          <path
                            d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'
                          ></path></svg></span><span>Account</span></a>
                  </li> }}
                <li>
                  <a class='nav-link pe-0' href='/logout'>Logout</a>
                </li>
              {{else}}
                <li>
                  <a class='nav-link' href='/login'>Login</a>
                </li>
                <li>
                  <a class='nav-link pe-0' href='/register'>Register</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <section class='hero-bg text-white pt-3 mt-2'>
      <div class='px-4 pt-5 pt-xs-1 d-flex justify-content-center align-items-center'>
        <div
          class='row flex-sm-row-reverse justify-content-center align-items-center g-5 py-5 mt-3'
        >
          <div class='col-12 col-sm-8  col-md-5 col-lg-4 col-xxl-4 small-d-none '>
            <div
              class=' d-flex justify-content-end align-items-center'
            >

              <div class='hero-img img-fluid'>
                <div class='top-hero-rectangle'></div>
                <div class='top-hero-dots'></div>
              </div>

            </div>
          </div>
          <div class='col-12 col-sm-10 col-md-7 col-lg-8 col-xxl-5'>
            <div class='d-flex text-center text-sm-start flex-column justify-content-center'>

              <h1 class='display-4 fw-bold lh-1 mb-5'>
                Penning Perfection: Elevate Your
                <span class='display-4 mb-5 fw-bold orange-title'>Academic
                  Writing</span>
              </h1>

              <p class='lead font-23 mb-5'>Unlock your academic potential with
                us. Our team of experts provide comprehensive writing assistance
                for all types of projects. From research and data analysis to
                writing, editing, formatting and citations, we've got you
                covered.</p>
              <div class='d-grid gap-2 d-md-flex justify-content-md-start'>
                <a
                href="/pricing"
                  class='btn bg-orange text-white fw-boldish btn-lg px-4 me-md-2'
                >Get Started</a>
                <a
                href="/about"
                  class='btn btn-outline-secondary  text-white fw-boldish btn-lg px-4'
                >Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='waves-container pt-5'>
        <svg
          class='waves'
          xmlns='http://www.w3.org/2000/svg'
          xmlns:xlink='http://www.w3.org/1999/xlink'
          viewBox='0 24 150 28'
          preserveAspectRatio='none'
          shape-rendering='auto'
        >
          <defs>
            <path
              id='gentle-wave'
              d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z'
            ></path>
          </defs>
          <g class='parallax'>
            <use
              xlink:href='#gentle-wave'
              x='48'
              y='0'
              fill='rgba(255, 153, 51)'
            ></use>
            <use
              xlink:href='#gentle-wave'
              x='48'
              y='3'
              fill='rgba(255, 179, 102)'
            ></use>
            <use
              xlink:href='#gentle-wave'
              x='48'
              y='5'
              fill='rgba(255, 204, 153)'
            ></use>
            <use xlink:href='#gentle-wave' x='48' y='7' fill='#fff'></use>
          </g>
        </svg>
      </div>
    </section>

    <section class='container pt-5 pb-2'>
      <h2 class='mb-4 mt-5 text-center'>Our digits</h2>

      <div class='row row-cols-3 g-4  pt-4 pb-2'>
        <div class='col text-center'>
          <div>
            <p class='num fs-3 mb-0' data-val='400'>000</p>
            <p class='fs-4 boldish'>Featured title</p>
          </div>
        </div>
        <div class='col text-center'>
          <div>
            <p class='num fs-3 mb-0' data-val='340'>000</p>
            <p class='fs-4 boldish'>Happy Customers</p>
          </div>
        </div>
        <div class='col text-center'>
          <div>
            <p class='num fs-3 mb-0' data-val='225'>000</p>
            <p class='fs-4 boldish'>Papers Written</p>
          </div>
        </div>
      </div>
      {{! <hr>  }}
    </section>

    <div class='bg-whiteish w-100 mb-5rem'>
      <section class='container py-5 margin-t-6rem px-5 onyx'>
        <h2 class='pb-5 pt-5 onyx text-center'>Expert Writing Assistance</h2>

        <div class='row row-cols-1 row-cols-md-2 g-5 py-5 min-h-700'>
          <div class='col d-flex flex-column align-items-start gap-2 h-auto'>
            <h3 class='fw-bold onyx'>
              Academic Writing Company
            </h3>
            <p class='text-muted font-21 pe-5'>
              is dedicated to providing top-notch writing services to students,
              researchers, and academics. Our team of experienced writers and
              editors are experts in their fields, offering high-quality work
              tailored to your specific needs. Whether you're looking for help
              with an essay, research paper, or any other academic assignment,
              we are here to support you every step of the way and help you
              achieve success."
            </p>
            <div class='w-100 pt-3'>
              <a
                href='/pricing'
                class='btn bg-orange text-white fw-boldish px-5 btn-lg'
              >Order Now</a>
            </div>
          </div>

          <div class='col'>
            <div
              class='home-first-image card card-cover h-1auto vh-50 overflow-hidden rad-10 border-0'
            >
              <div
                class='d-flex flex-column justify-content-end h-100 p-5 text-white text-shadow-1'
              >
                <h2 class='pt-5 mt-5 mb-4 display-5 lh-1 fw-bold'>
                  Grow with our help
                </h2>
                <small class='text-end'>Academic Writing</small>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class='container pb-4 mb-5'>

      <h2 class='pb-5 text-center'>Read Our
        <span class='font-normal orange'> Blog</span>
      </h2>
      <div class='p-5 mb-4 bg-light big-blog-min rad-10'>
        <div class='container py-5 pb-2 gap-2'>
          <h1 class='display-5 fw-bold text-light pb-1'>10 Tips for Effective
            Academic Writing</h1>
          <p class='col-md-8 fs-4 text-light pb-4'>In this post, you could
            discuss strategies for writing clear and concise academic papers,
            such as staying organized, keeping a consistent voice, and using
            proper citation styles.</p>
          <p class='text-white fs-4 fontW-light underline'>Coming Soon</p>
          <small class='text-white text-end'>Academic Writing</small>
          {{! <button class='btn bg-orange text-white fw-bold btn-lg' type='button'>Read more</button> }}
        </div>
      </div>

      {{!-- <div class='row align-items-md-stretch'>
        <div class='col-md-6'>
          <div class='h-100 p-5 text-bg-dark rounded-3'>
            <h2>Change the background</h2>
            <p>Swap the background-color utility and add a `.text-*` color
              utility to mix up the jumbotron look. Then, mix and match with
              additional component themes and more.</p>
            <button class='btn btn-outline-light' type='button'>Read more
            </button>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='h-100 p-5 bg-light border rounded-3'>
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added definition to
              the boundaries of your content. Be sure to look under the hood at
              the source HTML here as we've adjusted the alignment and sizing of
              both column's content for equal-height.</p>
            <button class='btn btn-outline-secondary' type='button'>Example
              button</button>
          </div>
        </div>
      </div> --}}
    </div>

    {{! <div class='empty-space'></div>
    <section class='banner'>
      <p class='banner-title'>
        Penning Perfection: Elevate Your
        <span>Academic Writing
        </span>
      </p>
      <!-- <p class="banner-subtitle">
        Transform Your Research into Compelling and Cohesive Narratives: Unlock
        the Potential of Your Writing with Our Professional Support and
        Cutting-Edge Tools
      </p> -->
      <p class='banner-subtitle'>
        Unlock your academic potential with [Company Name]. Our team of experts
        provide comprehensive writing assistance for all types of projects. From
        research and data analysis to writing, editing, formatting and
        citations, we've got you covered.
      </p>
    </section>
    <section class='container max'>
      <div class='wrapper-title'>Our digits</div>
      <div class='wrapper'>
        <div class='container'>
          <i class='fas fa-utensils'></i>
          <span class='num' data-val='400'>000</span>
          <span class='text'>Delivered Projects</span>
        </div>
        <div class='container'>
          <i class='fas fa-smile-beam'></i>
          <span class='num' data-val='340'>000</span>
          <span class='text'>Happy Customers</span>
        </div>
        <div class='container'>
          <i class='fas fa-list'></i>
          <span class='num' data-val='225'>000</span>
          <span class='text'>Papers Written</span>
        </div>
        <!-- <div class="container">
          <i class="fas fa-star"></i>
          <span class="num" data-val="280">000</span>
          <span class="text">Five Stars</span>
        </div> -->
      </div>
      <div class='about'>
        <div class='about-us-title'>About Us</div>
        <div class='about-us-description'>
          "At [Company Name], we understand the challenges and demands of
          academic writing. Our team of experienced writers, editors, and
          researchers are dedicated to helping students and scholars like you
          achieve success in your field. We specialize in providing
          comprehensive assistance for all types of academic writing projects,
          including research papers, dissertations, theses, and essays. Our
          services include research and data analysis, writing and editing,
          formatting and citations, and proofreading and revisions."
        </div>
      </div>
      <div class='pictures'>
        <div class='left-picture'>
          <div>left-picture-title</div>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </div>
        <div class='right-picture'>
          <div>right-picture-title</div>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </div>
      </div>
      <div class='why-us'>
        <div class='why-us-title'>Why Us</div>
        <div class='why-us-description'>
          "At [Company Name], we understand the challenges and demands of
          achieve success in your field. We specialize in providing academic
          writing. Our team of experienced writers, editors, and researchers are
          dedicated to helping students and scholars like you
        </div>
      </div>
    </section> }}
    <section class='footer-container border-top bg-dark text-light pt-5'>
      <section class='container'>
        <footer>
          <div class='row'>
            <div class='col-6 col-md-2 mb-3'>
              <h5>Section</h5>
              <ul class='nav flex-column'>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Home</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Features</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Pricing</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>FAQs</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>About</a>
                </li>
              </ul>
            </div>

            <div class='col-6 col-md-2 mb-3 text-light'>
              <h5>Section</h5>
              <ul class='nav flex-column'>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Home</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Features</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Pricing</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>FAQs</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>About</a>
                </li>
              </ul>
            </div>

            <div class='col-6 col-md-2 mb-3'>
              <h5>Section</h5>
              <ul class='nav flex-column'>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Home</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Features</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Pricing</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>FAQs</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>About</a>
                </li>
              </ul>
            </div>

            <div class='col-md-5 offset-md-1 mb-3'>
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class='d-flex flex-column flex-sm-row w-100 gap-2'>
                  <label for='newsletter1' class='visually-hidden'>Email address</label>
                  <input
                    id='newsletter1'
                    type='text'
                    class='form-control'
                    placeholder='Email address'
                  />
                  <button class='btn btn-primary' type='button'>
                    Subscribe
                  </button>
                </div>
              </form>
            </div>

            <div
              class='d-flex flex-column flex-sm-row justify-content-between py-2 my-2'
            >
              <p>&copy; 2022 Company, Inc. All rights reserved.</p>

            </div>
          </div>
        </footer>
      </section>
    </section>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
      crossorigin='anonymous'
    ></script>

  </body>
</html>