
<script src="../js/home.js"></script>

<title>Academic Writing - Home</title>

<section class='hero-bg text-white pt-3 mt-2'>
  <div
    class='px-4 pt-5 pt-xs-1 d-flex justify-content-center align-items-center'
  >
    <div
      class='row flex-sm-row-reverse justify-content-center align-items-center g-5 py-5 mt-3'
    >
      <div class='col-12 col-sm-8 col-md-5 col-lg-4 col-xxl-4 small-d-none'>
        <div class='d-flex justify-content-end align-items-center'>

          <div class='hero-img img-fluid'>
            <div class='top-hero-rectangle'></div>
            <div class='top-hero-dots'></div>
          </div>

        </div>
      </div>
      <div class='col-12 col-sm-10 col-md-7 col-lg-8 col-xxl-5'>
        <div
          class='d-flex text-center text-sm-start flex-column justify-content-center'
        >

          <h1 class='display-4 fw-bold lh-1 mb-5'>
            Penning Perfection: Elevate Your
            <span class='display-4 mb-5 fw-bold orange-title'>Academic Writing</span>
          </h1>

          <p class='lead font-23 mb-5'>Unlock your academic potential with us.
            Our team of experts provide comprehensive writing assistance for all
            types of projects. From research and data analysis to writing,
            editing, formatting and citations, we've got you covered.</p>
          <div class='d-grid gap-2 d-md-flex justify-content-md-start'>
            <a
              href='/pricing'
              class='btn bg-orange text-white fw-boldish btn-lg px-4 me-md-2'
            >Get Started</a>
            <a
              href='/about'
              class='btn btn-outline-secondary text-white fw-boldish btn-lg px-4'
            >Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='waves-container pt-5'>
    <svg
      class='waves'
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      viewBox='0 24 150 28'
      preserveAspectRatio='none'
      shape-rendering='auto'
    >
      <defs>
        <path
          id='gentle-wave'
          d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z'
        ></path>
      </defs>
      <g class='parallax'>
        <use
          xlink:href='#gentle-wave'
          x='48'
          y='0'
          fill='rgba(255, 153, 51)'
        ></use>
        <use
          xlink:href='#gentle-wave'
          x='48'
          y='3'
          fill='rgba(255, 179, 102)'
        ></use>
        <use
          xlink:href='#gentle-wave'
          x='48'
          y='5'
          fill='rgba(255, 204, 153)'
        ></use>
        <use xlink:href='#gentle-wave' x='48' y='7' fill='#fff'></use>
      </g>
    </svg>
  </div>
</section>

<section class='container pt-5 pb-2'>
  <h2 class='mb-4 mt-5 text-center'>Our digits</h2>

  <div class='row row-cols-3 g-4 pt-4 pb-2'>
    <div class='col text-center'>
      <div>
        <p class='num fs-3 mb-0' data-val='400'>000</p>
        <p class='fs-4 boldish'>Featured title</p>
      </div>
    </div>
    <div class='col text-center'>
      <div>
        <p class='num fs-3 mb-0' data-val='340'>000</p>
        <p class='fs-4 boldish'>Happy Customers</p>
      </div>
    </div>
    <div class='col text-center'>
      <div>
        <p class='num fs-3 mb-0' data-val='225'>000</p>
        <p class='fs-4 boldish'>Papers Written</p>
      </div>
    </div>
  </div>
  {{! <hr>  }}
</section>

<div class='bg-whiteish w-100 mb-5rem'>
  <section class='container py-5 margin-t-6rem px-5 onyx'>
    <h2 class='pb-5 pt-5 onyx text-center'>Expert Writing Assistance</h2>

    <div class='row row-cols-1 row-cols-md-2 g-5 py-5 min-h-700'>
      <div class='col d-flex flex-column align-items-start gap-2 h-auto'>
        <h3 class='fw-bold onyx'>
          Academic Writing Company
        </h3>
        <p class='text-muted font-21 pe-5'>
          is dedicated to providing top-notch writing services to students,
          researchers, and academics. Our team of experienced writers and
          editors are experts in their fields, offering high-quality work
          tailored to your specific needs. Whether you're looking for help with
          an essay, research paper, or any other academic assignment, we are
          here to support you every step of the way and help you achieve
          success."
        </p>
        <div class='w-100 pt-3'>
          <a
            href='/pricing'
            class='btn bg-orange text-white fw-boldish px-5 btn-lg'
          >Order Now</a>
        </div>
      </div>

      <div class='col'>
        <div
          class='home-first-image card card-cover h-1auto vh-50 overflow-hidden rad-10 border-0'
        >
          <div
            class='d-flex flex-column justify-content-end h-100 p-5 text-white text-shadow-1'
          >
            <h2 class='pt-5 mt-5 mb-4 display-5 lh-1 fw-bold'>
              Grow with our help
            </h2>
            <small class='text-end'>Academic Writing</small>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class='container pb-4 mb-5'>

  <h2 class='pb-5 text-center'>Read Our
    <span class='font-normal orange'> Blog</span>
  </h2>
  <div class='p-5 mb-4 bg-light big-blog-min rad-10'>
    <div class='container py-5 pb-2 gap-2'>
      <h1 class='display-5 fw-bold text-light pb-1'>10 Tips for Effective
        Academic Writing</h1>
      <p class='col-md-8 fs-4 text-light pb-4'>In this post, you could discuss
        strategies for writing clear and concise academic papers, such as
        staying organized, keeping a consistent voice, and using proper citation
        styles.</p>
      <p class='text-white fs-4 fontW-light underline'>Coming Soon</p>
      <small class='text-white text-end'>Academic Writing</small>
      {{! <button class='btn bg-orange text-white fw-bold btn-lg' type='button'>Read more</button> }}
    </div>
  </div>

</div>