<script src='../js/testing.js' type='text/javascript' defer></script>

<title>Academic Writing - Order</title>

<div class='empty-space'></div>
<div class='bg-white'>

  <div class='container mt-4'>
    <nav class='navbar navbar-expand-lg navbar-light'>
      <div class='container-fluid'>
        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarTogglerDemo01'
          aria-controls='navbarTogglerDemo01'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarTogglerDemo01'>
          <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
            <li class='nav-item'>
              <a
                class='nav-link active current ms-0'
                aria-current='page'
                href='/customer-home'
              >Home</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link active' href='/pricing'>New Order</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link active' href='/customer-orders'>Orders</a>
            </li>
          </ul>
          <div class='dropdown'>
            <button
              class='btn btn-outline-secondary dropdown-toggle'
              type='button'
              id='dropdownMenuButton1'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              Account
            </button>
            <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
              <li><a class='dropdown-item' href='/profile'>Profile</a></li>
              <li><a class='dropdown-item' href='/billing'>Billing</a></li>
              <li><a class='dropdown-item' href='/security'>Security</a></li>
              <li><a
                  class='dropdown-item'
                  href='/notifications-settings'
                >Notifications</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</div>
<hr class='mt-0 mb-4' />

<div class='container container3'>
</div>
<br />
<section class='container mh'>
  <div class='row'>
    <div class='col-lg-8'>

      <div class='card mb-4'>
        <div class='card-header'>Hi there {{authorised}}</div>
        <div class='card-body'>
          <div>
            Curent Orders
          </div>
          <div>
            Total Orders
          </div>
          <div>
            Payments to be made

          </div>
          <div>
            Some
          </div>
        </div>
      </div>

      <div class='card mb-4'>
        <div class='card-header'>Security Preferences</div>
        <div class='card-body'>
          <div>Card Body</div>
        </div>
      </div>
    </div>
    <div class='col-lg-4'>

      <div class=''>

      </div>

      <div class='card mb-4'>
        <div class='card-header'>RY</div>
        <div class='card-body'>
          <p>Place a new order </p>
          <button class='btn btn-danger-soft text-danger' type='button'>I
            understand, delete my account</button>
        </div>
      </div>
    </div>
  </div>

</section>