<script src='../js/payment.js' type='text/javascript' defer></script>

<title>Academic Writing - Payment</title>

<div class='empty-space'></div>

<main>
  <section class='container mt-10vh mb-10vh'>
    <div class='max-width-320 my-5 mx-auto'>

      <h1 class='text-center mb-5'>Stripe Payment Demo</h1>
      <div class='card'>
        <div class='card-header'>
          <h3 class='card-title'>Make a payment</h3>
        </div>
        <div class='card-body'>
          <form id='payment-form' class='needs-validation' novalidate>
            <div class='form-floating mb-3'>
              <input
                type='text'
                id='name'
                class='form-control'
                placeholder='John Doe'
                required
              />
              <label for='name'>Name on card</label>
              <div class='invalid-feedback'>Please enter a valid name</div>
            </div>
            <div class='form-floating mb-3'>
              <input
                type='text'
                id='card-number'
                class='form-control'
                placeholder='4242 4242 4242 4242'
                required
              />
              <label for='card-number'>Card number</label>
              <div class='invalid-feedback'>Please enter a valid card number</div>
            </div>
            <div class='row mb-3'>
              <div class='col'>
                <div class='form-floating'>
                  <input
                    type='text'
                    id='expiry-date'
                    class='form-control'
                    placeholder='MM/YY'
                    required
                  />
                  <label for='expiry-date'>Expiry date</label>
                  <div class='invalid-feedback'>Please enter a valid expiry date</div>
                </div>
              </div>
              <div class='col'>
                <div class='form-floating'>
                  <input
                    type='text'
                    id='cvc'
                    class='form-control'
                    placeholder='123'
                    required
                  />
                  <label for='cvc'>CVC</label>
                  <div class='invalid-feedback'>Please enter a valid CVC</div>
                </div>
              </div>
            </div>
            <button id='submit-button' class='btn btn-primary w-100'>Pay $10</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>