<script src='../js/security.js' type='text/javascript' defer></script>

<title>Academic Writing - Security</title>

{{> user-header}}

<div class='container container-res mh'>

      <div class='h4 py-4'>Security</div>
  <div class='row'>
    <div class='col-lg-8 mb-6rem'>

      <div class='card mb-4 py-4 py-lg-5 px-sm-4 px-lg-5 mini-summary2'>
        <div class='card-header text-center h4'>Change Password</div>
         <hr class='mb-0' />
       
        <div class='card-body px-lg-5'>
          <form class='mx-600 mx-auto'>
            <div class='form-label-group'>
              <label
                class='h5 normal-weight mt-3'
                for='currentPassword'
              >Current Password</label>
              <input
                class='form-control'
                id='currentPassword'
                type='password'
                placeholder='Enter current password'
              />
            </div>
            <div class='form-label-group'>
              <label
                class='h5 normal-weight  mt-3'
                for='newPassword'
              >New Password</label>
              <input
                class='form-control'
                id='newPassword'
                type='password'
                placeholder='Enter new password'
              />
            </div>
            <div class='form-label-group'>
              <label class='h5 normal-weight mt-3' for='newPasswordConfirm'>Confirm Password</label>
              <input
                class='form-control'
                id='newPasswordConfirm'
                type='password'
                placeholder='Confirm new password'
              />
            </div>
            <div class='form-label-group'>
              <button
                id='saveChanges'
                class='btn bg-orange text-white enjoy-button w-100 mt-5 height-50 disabled'
                type='button'
              >Save changes</button>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class='col-lg-4'>

      <div class='mb-4'>

        <div class='card mini-summary2'>
          <div class='h5'>Amazing things for FREE</div>
          <hr class='mb-0' />
          <ul id='mini-ul2'>
            <li>
              <div class='mini-summary-serv-title'>
                Title page
              </div>
              <div class='d-flex'>
                <div>for
                  <span>$4.99</span>
                </div>
                <div class='free'>FREE</div>
              </div>
            </li>

            <hr class='my-0' />

            <li>
              <div class='mini-summary-serv-title'>
                Formating
              </div>
              <div class='d-flex'>
                <div>for
                  <span>$7.99</span>
                </div>
                <div class='free'>FREE</div>
              </div>
            </li>

            <hr class='my-0' />

            <li>
              <div class='mini-summary-serv-title'>
                Title page
              </div>
              <div class='d-flex'>
                <div>for
                  <span>$4.99</span>
                </div>
                <div class='free'>FREE</div>
              </div>
            </li>

            <hr class='my-0' />

            <li>
              <div class='mini-summary-serv-title'>
                Title page
              </div>
              <div class='d-flex'>
                <div>for
                  <span>$4.99</span>
                </div>
                <div class='free'>FREE</div>
              </div>
            </li>

            <hr class='my-0' />
          </ul>
          <a
            href='/pricing'
            class='btn bg-orange text-white enjoy-button'
          >Enjoy</a>
        </div>

      </div>
    </div>
  </div>

</div>