<title>Academic Writing - Summary</title>

<script src='js/summary.js' type='text/javascript' defer></script>


{{> user-header}}

<div class='container mt-4'>
  <div class='h4 py-4'>Summary</div>
  <div class='card mb-4'>
    <div class='card-body p-0'>
      <div class="summary"></div>
    </div>
  </div>
</div>