<title>Academic Writing - Summary</title>

 <script src="https://js.stripe.com/v3/"></script>
{{!-- <script src='js/summary.js' type='text/javascript' defer></script> --}}
    <script src="js/complete.js" type='text/javascript' defer></script>
  

{{> user-header}}

<div class='container mt-4'>
        <div class=" text-center py-4 mt-2 font-32">Payment Status</div>
  <div class='row '>
    <div class='col-12 mb-md-5 min-h-400px'>
      <div class='card mb-4 h-100'>
        
        
        
        <div class="font-32 text-center mt-5 text-success">Succesfull payment!</div>
        
        <pre id="payment-intent"></pre>
      </div>
    </div>
  </div>
  </div>
</div>