<html lang='en'>
  <head>
    <meta charset='utf-8' />

    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='about page' />
    <meta name='author' content='Alberto Paros' />
    <link rel='icon' type='image/x-icon' href='assets/favicon.ico' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' type='text/css' href='style/style.css' />
    {{! <script src='js/app.js' type='text/javascript' defer></script> }}

    <title>About</title>
    <style>
      #box { fill: lightblue; stroke: black; stroke-width: 1; }
    </style>
  </head>
  <body>
    <div class='dark-bg fixed-top'>
      <div class='container'>
        <nav
          class='navbar navbar-expand-sm navbar-fixed-top navbar-dark d-flex justify-content-between'
        >
          <a class='navbar-brand' href='/'>
            <!-- <img src="bootstrap-logo.svg" alt="Bootstrap" width="30" height="24" class="d-inline-block align-top"> -->
            <h4 class='p-0 m-0 text-center'>Academic Writing</h4>
          </a>
          <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#toggleMobileMenu'
            aria-controls='toggleMobileMenu'
            aria-expanded='false'
            aria-label='Toggle navigation'
          >
            <span class='navbar-toggler-icon'></span>
          </button>
          <div class='collapse navbar-collapse' id='toggleMobileMenu'>
            <ul class='navbar-nav ms-auto text-center font-12'>
              <li>
                <a class='nav-link' href='/pricing'>Pricing</a>
              </li>
              <li>
                <a class='nav-link' href='/about'>About</a>
              </li>
              {{#if authorised}}

                <li>
                  <a
                    class='nav-link d-flex align-itemds-center gap-1 border-light rounded margin-left-05 border-light'
                    href='/account'
                  ><span class='d-flex align-items-center'><svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='16'
                        height='16'
                        fill='currentColor'
                        class='bi bi-person'
                        viewBox='0 0 16 16'
                      >
                        <path
                          d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'
                        ></path></svg></span><span>Account</span></a>
                </li>
              {{else}}
                <li>
                  <a class='nav-link' href='/login'>Login</a>
                </li>
                <li>
                  <a class='nav-link' href='/register'>Register</a>
                </li>
              {{/if}}
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class='empty-space'></div>

    <div class='container mt-4'>

      <nav class='nav nav-borders d-flex justify-content-between'>
        <div class='d-flex'>
          <a class='nav-link ms-0' href='/customer-home'>Home</a>

          <a class='nav-link' href='/pricing'>New Order</a>
          <a class='nav-link' href='/customer-orders'>Orders</a>

        </div>
        <div class='d-flex'>
          <a class='nav-link active' href='/profile'>Profile</a>

          <a class='nav-link' href='/billing'>Billing</a>
          <a class='nav-link' href='/security'>Security</a>
          <a
            class='nav-link me-0'
            href='/notifications-settings'
          >Notifications</a>

        </div>
      </nav>
    </div>

    <hr class='mt-0 mb-4' />

    <section class='container'>
      {{! <div class='container mt-4'> }}
      <div class='row'>

        <div class='col-lg-4'>

          {{!-- <div><svg viewBox='0 0 200 200'>
              <rect x='50' y='50' width='100' height='100' id='box'></rect>
            </svg>
            <br />
            Width:
            <input
              type='range'
              min='50'
              max='150'
              value='100'
              id='widthRange'
            />
            <br />
            Height:
            <input
              type='range'
              min='50'
              max='150'
              value='100'
              id='heightRange'
            />
            <br />
            <script>
              const box = document.getElementById("box"); const widthRange =
              document.getElementById("widthRange"); const heightRange =
              document.getElementById("heightRange");
              widthRange.addEventListener("input", function() {
              box.setAttribute("width", widthRange.value); });
              heightRange.addEventListener("input", function() {
              box.setAttribute("height", heightRange.value); });
            </script></div>

          <div> --}}

            <svg class="border" viewBox='0 0 100 100'>
              <line
                x1='100'
                y1='100'
                x2='50'
                y2='50'
                stroke='blue'
                stroke-width='1'
                id='line'
              ></line>
            </svg>
            <br />
            Width:
            <input type='range' min='10' max='100' value='50' id='widthRange' />
            <br />
            <script>
              const line = document.getElementById("line");
               const widthRange = document.getElementById("widthRange");
              widthRange.addEventListener("input", function() {
              
                line.setAttribute("x2", widthRange.value * Math.cos(45 * Math.PI / 180)); 
                line.setAttribute("y2", widthRange.value * Math.sin(45 * Math.PI / 180)); 
              
              });
            </script>

          </div>

          <div class='card'>
            <div class='card-header'>Notification Preferences</div>
            <div class='card-body'>
              {{! <form>

                <div class='form-check mb-2'>
                  <input
                    class='form-check-input'
                    id='checkAutoGroup'
                    type='checkbox'
                    checked=''
                  />
                  <label
                    class='form-check-label'
                    for='checkAutoGroup'
                  >Automatically subscribe to group notifications</label>
                </div>
                <div class='form-check mb-3'>
                  <input
                    class='form-check-input'
                    id='checkAutoProduct'
                    type='checkbox'
                  />
                  <label
                    class='form-check-label'
                    for='checkAutoProduct'
                  >Automatically subscribe to new product notifications</label>
                </div>

                <button class='btn btn-danger-soft text-danger'>Unsubscribe from
                  all notifications</button>
              </form> }}
            </div>
          </div>
        </div>

        <div class='col-lg-8'>

          <div class='card card-header-actions mb-4'>
            <div class='card-header'>
              Email Notifications
              {{! <div class='form-check form-switch'>
                <input
                  class='form-check-input'
                  id='flexSwitchCheckChecked'
                  type='checkbox'
                  checked=''
                />
                <label
                  class='form-check-label'
                  for='flexSwitchCheckChecked'
                ></label>
              </div> }}
            </div>
            <div class='card-body'>
              <form>

                <div class='mb-3'>
                  <label class='small mb-1' for='inputNotificationEmail'>Default
                    notification email</label>
                  <input
                    class='form-control'
                    id='inputNotificationEmail'
                    type='email'
                    value='name@example.com'
                  />
                </div>

                <div class='mb-0'>
                  <label class='small mb-2'>Choose which types of email updates
                    you receive</label>
                  <div class='form-check mb-2'>
                    <input
                      class='form-check-input'
                      id='checkAccountChanges'
                      type='checkbox'
                      checked=''
                    />
                    <label
                      class='form-check-label'
                      for='checkAccountChanges'
                    >Changes made to your account</label>
                  </div>
                  <div class='form-check mb-2'>
                    <input
                      class='form-check-input'
                      id='checkAccountGroups'
                      type='checkbox'
                      checked=''
                    />
                    <label
                      class='form-check-label'
                      for='checkAccountGroups'
                    >Changes are made to groups you're part of</label>
                  </div>
                  <div class='form-check mb-2'>
                    <input
                      class='form-check-input'
                      id='checkProductUpdates'
                      type='checkbox'
                      checked=''
                    />
                    <label
                      class='form-check-label'
                      for='checkProductUpdates'
                    >Product updates for products you've purchased or starred</label>
                  </div>
                  <div class='form-check mb-2'>
                    <input
                      class='form-check-input'
                      id='checkProductNew'
                      type='checkbox'
                      checked=''
                    />
                    <label
                      class='form-check-label'
                      for='checkProductNew'
                    >Information on new products and services</label>
                  </div>
                  <div class='form-check mb-2'>
                    <input
                      class='form-check-input'
                      id='checkPromotional'
                      type='checkbox'
                    />
                    <label
                      class='form-check-label'
                      for='checkPromotional'
                    >Marketing and promotional offers</label>
                  </div>
                  <div class='form-check'>
                    <input
                      class='form-check-input'
                      id='checkSecurity'
                      type='checkbox'
                      checked=''
                      disabled=''
                    />
                    <label class='form-check-label' for='checkSecurity'>Security
                      alerts</label>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class='footer-container border-top text-light pt-5'>
      <section class='container'>
        <footer>
          <div class='row'>
            <div class='col-6 col-md-2 mb-3'>
              <h5>Section</h5>
              <ul class='nav flex-column'>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Home</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Features</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Pricing</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>FAQs</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>About</a>
                </li>
              </ul>
            </div>

            <div class='col-6 col-md-2 mb-3 text-light'>
              <h5>Section</h5>
              <ul class='nav flex-column'>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Home</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Features</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Pricing</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>FAQs</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>About</a>
                </li>
              </ul>
            </div>

            <div class='col-6 col-md-2 mb-3'>
              <h5>Section</h5>
              <ul class='nav flex-column'>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Home</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Features</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>Pricing</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>FAQs</a>
                </li>
                <li class='nav-item mb-2'>
                  <a href='#' class='nav-link p-0 text-light'>About</a>
                </li>
              </ul>
            </div>

            <div class='col-md-5 offset-md-1 mb-3'>
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class='d-flex flex-column flex-sm-row w-100 gap-2'>
                  <label for='newsletter1' class='visually-hidden'>Email address</label>
                  <input
                    id='newsletter1'
                    type='text'
                    class='form-control'
                    placeholder='Email address'
                  />
                  <button class='btn btn-primary' type='button'>
                    Subscribe
                  </button>
                </div>
              </form>
            </div>

            <div
              class='d-flex flex-column flex-sm-row justify-content-between py-2 my-2'
            >
              <p>&copy; 2022 Company, Inc. All rights reserved.</p>

            </div>
          </div>
        </footer>
      </section>
    </section>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
      crossorigin='anonymous'
    ></script>

  </body>
</html>