<script src='js/testing.js' type='text/javascript' defer></script>

<title>Home (Writer)</title>
<div class='empty-space'></div>

<div class='container mt-4'>

  <nav class='nav nav-borders'>

    <a class='nav-link ms-0' href='/pricing'>New Order</a>
    <a class='nav-link' href='/'>Orders</a>

    <a class='nav-link' href='/billing'>Billing</a>

    <a class='nav-link' href='/security'>Security</a>
    <a class='nav-link' href='/notifications-settings'>Notifications</a>
    <a class='nav-link active' href='/profile'>Profile</a>
  </nav>
</div>
<hr class='mt-0 mb-4' />

<section class='container'>
  <div class='row'>
    <div class='col-lg-8'>

      <div class='card mb-4'>
        <div class='card-header'>Hi there
          {{authorised}}
          this is Writer-Home</div>
        <div class='card-body'>
          <div>Card body</div>
        </div>
      </div>

      <div class='card mb-4'>
        <div class='card-header'>Security Preferences</div>
        <div class='card-body'>

        </div>
      </div>
    </div>
    <div class='col-lg-4'>

      <div class='card mb-4'>
        <div class='card-header'>Two-Factor Authentication</div>
        <div class='card-body'>
          <p>Add another level of security to your account by enabling
            two-factor authentication. We will send you a text message to verify
            your login attempts on unrecognized devices and browsers.</p>

        </div>
      </div>

      <div class='card mb-4'>
        <div class='card-header'></div>
        <div class='card-body'>
        </div>
      </div>
    </div>
  </div>

</section>