<script src='../js/testing.js' type='text/javascript' defer></script>

<title>Academic Writing - Order</title>

{{> user-header}}

<div class='container container3'>
</div>
<br />
<section class='container mh'>
  <div class='row'>
    <div class='col-lg-8'>

      <div class='card mb-4'>
        <div class='card-header'>Hi there {{authorised}}</div>
        <div class='card-body'>
          <div>
            Curent Orders
          </div>
          <div>
            Total Orders
          </div>
          <div>
            Payments to be made

          </div>
          <div>
            Some
          </div>
        </div>
      </div>

      <div class='card mb-4'>
        <div class='card-header'>Security Preferences</div>
        <div class='card-body'>
          <div>Card Body</div>
        </div>
      </div>
    </div>
    <div class='col-lg-4'>

      <div class=''>

      </div>

      <div class='card mb-4'>
        <div class='card-header'>RY</div>
        <div class='card-body'>
          <p>Place a new order </p>
          <button class='btn btn-danger-soft text-danger' type='button'>I
            understand, delete my account</button>
        </div>
      </div>
    </div>
  </div>

</section>