<title>Academic Writing - Summary</title>


{{> user-header}}

<div class='container mt-4'>
  <div class='h4 py-4'>Summary</div>
  <div class='card mb-4'>
    <div class='card-body p-0'>
    </div>
  </div>
</div>